.product-entry {
  overflow: hidden;
  font-family: $body-font;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
  border-radius: $radius;

  .text {
    position: relative;
    background: $white;
    width: 100%;
    margin: 0 auto;

    p {
      @include truncate(50px, 2);
      font-size: 15px;
    }

    .heading {
      font-size: 18px;
      margin-bottom: 16px;
      font-weight: 400;
      a {
        color: #000000;
        font-weight: 700;
        &:hover, &:focus, &:active {
          color: $primary;
        }
      }
    }

    &::before {
      @include pseudo();
      background: $white;
      top: -99px;
      height: 200px;
      width: 100%;
      clip-path: polygon(50% 20%, 0 50%, 100% 50%);
      left: 0;
    }
  }
  span {
    font-size: 25px;
    font-weight: 300;
    color: $primary;
    line-height: 1;
  }
}

.product-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .product-entry {
    margin-bottom: 30px;
  }
}

@media (max-width: 767.98px) {
  .product-entry {
    margin-bottom: 30px;
  }
}

.product-section {
  padding: 50px 0;
}

.product-details {
  .p-price {
    font-size: 24px;
    color: #414141;
    font-weight: 600;
    font-family: $heading-font;
    margin-bottom: 20px;
  }

  .p-title {
    font-size: 25px;
    font-weight: 700;
    color: #414141;
    margin-bottom: 18px;
  }
}

.quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;

  p {
    float: left;
    margin-right: 15px;
    font-weight: 600;
    color: #414141;
    padding-top: 10px;
    margin-bottom: 0;
  }

  .pro-qty {
    width: 94px;
    height: 36px;
    border: 1px solid #ddd;
    padding: 0 15px;
    border-radius: $radius;
    float: left;

    input {
      width: 28px;
      float: left;
      border: none;
      height: 36px;
      line-height: 40px;
      padding: 0;
      font-size: 14px;
      text-align: center;
      background-color: transparent;
    }

    .qtybtn {
      width: 15px;
      display: block;
      float: left;
      line-height: 36px;
      cursor: pointer;
      text-align: center;
      font-size: 18px;
      color: #404040;
    }
  }
}

.product-pic-zoom {
  height: 400px;
  img {
    object-fit: cover;
    border-radius: $radius;
  }
}

.product-thumbs-track {
  height: 100px;
  margin-top: 30px;
  img {
    object-fit: cover;
    border-radius: $radius;
    margin: 0 5px;
  }

  .slick-list {
    height: 100%;
  }

  .slick-track {
    @include size(100%);
  }
}

.products {
  /* the slides */
  .slick-slide {
    margin: 0 27px;
  }
  /* the parent */
  .slick-list {
    margin: 0 -27px;
  }
}