// Medias querys
$breakpoints: (
  'xs': "(min-width: 0px) and (max-width: 575px)",
  'sm': "(min-width: 576px) and (max-width: 767px)",
  'md': "(min-width: 768px) and (max-width: 991px)",
  'lg': "(min-width: 992px) and (max-width: 1199px)",
  'xl': "(min-width: 1200px)",
) !default;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

// Colors
$primary: #cd416c;
$secondary: #df749c;
$white: #fff;
$black: #202020;
$body-text: #5a5656;
$gold: #bf9465;

$body-font: 'Montserrat', sans-serif;
$heading-font: 'Montserrat', serif;

$shadow: rgba(0,0,0,.1);