@import 'bourbon';
@import 'mixins';
@import 'variables';

@import 'navbar';

a {
  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3 {
  font-family: $heading-font;
}

p, li, span {
  font-family: $body-font;
}

li {
  list-style: none;
}

.template-btn {
  color: $white;
  font-family: $body-font; 
  background-color: $primary;
  transition: all ease-in-out .4s;

  &:hover {
    color: $white;
    background-color: darken($primary, 5%);
    transform: translateY(-3px);
    transition: all ease-in-out .4s;
  }
}


.template-link {
  color: $primary;
  font-family: $body-font;
  font-weight: 600;
  transition: all ease-in-out .4s;
  position: relative;

  &::after {
    @include pseudo();
    width: 0%;
    height: 3px;
    background-color: $gold;
    transition: width ease-in-out .4s;
    bottom: -5px;
    left: 0;
  }

  &:hover {
    color: $primary;
    transition: all ease-in-out .4s;

    &::after {
      width: 100%;
      transition: width ease-in-out .4s;
    }
  }
}

.wrapper {
  padding: 0 10%;
}

.about, .blog, .faq, .products, .brands, .unboxing{
  padding: 50px 0;
  position: relative;
}

.banner-home {
  @include size(100%, 100vh);
  position: relative;
  margin-top: -100px;
  border-radius: $radius;
  overflow: hidden;
  
  &::after {
    @include pseudo();
    transform: skew(-85deg);
    background-color: white;
    bottom: -175px;
    left: 0;
    width: 100%;
    height: 350px;
  }

  .banner-mask {
    position: absolute;
    top: 0;
    left: 0;
    @include size(100%);
    background-color: rgba($secondary, .4);
    border-radius: $radius;
    display: flex;
    align-items: center;
    padding-left: 80px;
    @include respond-to(xs) {
      justify-content: center;
      padding-left: 0;
    }
    
    h1 {
      font-family: $heading-font;
      width: 50%;
      font-weight: 800;
      color: $white;
      text-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
      @include respond-to(xs) {
        font-size: 30px;
        text-align: center;
        width: 100%;
      }
    }
  }

  img {
    @include size(100%);
    object-fit: cover;
  }

  h2 {
    position: absolute;
    font-family: $heading-font;
    color: $primary;
    font-size: 40px;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
  }
}

.about {

  p {
    font-size: 22px;
    position: absolute;
    bottom: 40px;
    @include respond-to(xs) {
      position: relative;
      bottom: unset;
      top: 50%;
      font-size: 18px;
      margin-bottom: 0;
      transform: translateY(-50%);
    }

    @include respond-to(sm) {
      position: relative;
      bottom: unset;
      top: 50%;
      font-size: 18px;
      margin-bottom: 0;
      transform: translateY(-50%);
    }

    @include respond-to(md) {
      font-size: 18px;
      position: relative;
      bottom: unset;
      top: 60%;
      transform: translateY(-50%);
      margin-bottom: 0;
    }
  }

  .about-text-parent {
    @include respond-to(xs) {
      flex-direction: column;
    }
    @include respond-to(sm) {
      flex-direction: column;
    }
  }

  .about-text, .about-img {
    width: 50%;
    @include respond-to(xs) {
      width: 100%;
    }
    @include respond-to(sm) {
      width: 100%;
    }
  }

  .about-text {
    position: relative;
    height: 350px;
    background-color: white;
    text-align: left;
    max-width: 530px;
    padding: 104px 36px 40px 47px;
    margin: 0 auto;
    border-right: 13px solid rgba(#000, .1);
    border-bottom: 13px solid rgba(#000, .1);
    position: relative;
    z-index: 1;
    border-radius: $radius;
    @include respond-to(xs) {
      max-width: unset;
    }

    @include respond-to(sm) {
      max-width: unset;
    }

    @include respond-to(md) {
      max-width: unset;
      height: auto;
      padding: 20 30px;
    }

    &::before {
      @include pseudo();
      top: 0;
      right: 0;
      height: 13px;
      width: -webkit-calc(100% - 280px);
      width: calc(100% - 280px);
      background: rgba(#000, .1);
      z-index: -1;
    }

    &::after {
      @include pseudo();
      bottom: 0;
      left: 0;
      width: 13px;
      height: -webkit-calc(100% - 100px);
      height: calc(100% - 100px);
      background: rgba(#000, .1);
      z-index: -1;
    }

    h1 {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 50px;
      font-weight: 700;
    }

    img {
      position: absolute;
      left: 200px;
      top: 0;
      height: 150px;
    }
  }

  .about-img {
    img {
      @include size(100%, 300px);
      object-fit: cover;

      @include respond-to(xs) {
        object-fit: scale-down;
      }
      @include respond-to(sm) {
        object-fit: scale-down;
      }
      @include respond-to(md) {
        object-fit: scale-down;
      }
    }
  }
}

.card {
  border: 0;
}

.card-header {
  background-color: $white;
  margin-bottom: 0 !important;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
}

.faq-btn {
  color: $primary;
  font-family: $heading-font;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover, &:focus {
    text-decoration: none;
    color: $primary;
  }

  &[aria-expanded="true"] {
    i {
      transform: rotate(-90deg);
    }
  }
}

.faq {
  h1 {
    color: rgba(#000, .1);
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
  }
}


//footer
.footer-title {
  font-family: $heading-font;
  color: rgb(21, 21, 21);
  font-weight: 700;
  font-size: 21px;
}

.divider-lg {
  margin-top: 15px;
  &::after {
    content: '';
    display: inline-block;
    width: 90px;
    height: 3px;
    background-color: rgba(#000, .1);
  }

  & + * {
    margin-top: 20px;
  }
}

footer {
  padding: 50px 0;
  border-top: 3px solid #e6e6e6;
  @include respond-to(xs) {
    text-align: center;
  }

  p {
    font-size: 15px;
    color: $body-text;
  }

  a.web {
    color: $primary;
    font-family: $heading-font;
    font-weight: 600;
  
    &:hover {
      color: $primary;
    }
  }

  .footer-contact-info {
    padding-left: 0;

    li span {
      color: $primary;
    }
  }

  ul > li > a {
    color: $body-text;
  
    &:hover {
      color: $primary;
    }
  }
}

.rights {
  margin-bottom: 0;
}

.social-block-footer{
  ul {
    display: inline-flex;
    margin-bottom: 0;

    li {
      margin: 0 10px;
      a {
        color: $primary;
      }
    }
  }
}

.product-banner {
  @include size(100%, 550px);
  position: relative;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: $radius;
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.12);

  @include respond-to(xs) {
    background-image: none !important;
  }

  .product-banner-figure {
    transform: none;
    left: 0;
    clip-path: polygon(calc(100% - 120px) 0, 100% 50%, calc(100% - 120px) 100%, 0 100%, 0 0);
    width:  50%;
    position: absolute;
    background-color: $white;
    height: calc(100% + 1px);
    display: flex;
    padding-left: 50px;
    align-items: center;
    transition: all ease-in-out .3s;

    @include respond-to(xs) {
      clip-path: unset;
      width:  100%;
      position: absolute;
      padding-left: 0;
      padding: 20px 30px;
    }

    @include respond-to(sm) {
      width: 70%;
    }

    @include respond-to(md) {
      width: 70%;
    }
  }

  &:hover {
    .product-banner-figure {
      clip-path: polygon(calc(95% - 120px) 0, 100% 50%, calc(95% - 120px) 100%, 0 100%, 0 0);
      transition: all ease-in-out .3s;
    }
  }

  .product-banner-content {
    width: 60%;
    @include respond-to(xs) {
      width: 100%;
    }

    h2 {
      font-weight: 700;
      position: relative;
    }

    h3 {
      color: $primary;
      font-weight: 600;
      font-size: 25px;
      margin-bottom: 20px;
    }

    h2, p {
      margin-bottom: 30px;
    }

    p {
      color: #838383;
    }
  }
}

span.after {
  background: rgba($gold, 1);
  top: calc(100% - (-2px));
  height: 5px;
  content: '';
  position: absolute;
  left: 0;
  width: 50%;
}

.title-lines-main {
  margin-bottom: 100px;
  
  h3 {
    padding: 0;
    width: 60%;
    margin: 0 auto;
    @include respond-to(xs) {
      width: 100%;
    }

    .text {
      text-transform: uppercase;
      font-family: $heading-font;
      font-weight: 700;
      color: $primary;
      font-size: 40px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        background-color: $gold;
        width: 30%;
        height: 4px;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.brands {
  padding-bottom: 100px;
}

.brand-img {
  height: 90px;
  object-fit: scale-down;
}

.maxw-770 {
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
}

.video-wrap {
  position: relative;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.4);
  min-height: 430px;
  margin-bottom: 20px;
  border-radius: $radius;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.cta-wrapper {
  @include size(100%, 200px);
  background: linear-gradient(to right, $primary, $secondary);
  opacity: 0.94;
  z-index: -1;
  margin-top: -110px;

  .cta-wrapper-content {
    padding-top: 110px;

    @include respond-to(sm) {
      padding-top: 125px;
    }

    h1 {
      text-align: center;
      color: $white;
      font-weight: 700;
      @include respond-to(xs) {
        font-size: 25px;
      }

      @include respond-to(sm) {
        font-size: 30px;
      }
    }
  }
}

.icon-video {
  background-color: rgba(255,255,255,.5);
  border-radius: 50%;
  height: 80px;
  width: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    color: #ce446c;
    font-size: 40px;
    transform: translateX(5px);
  }
}

.faq-svg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.faq-svg .svgs {
  position: relative;
  width: 100%;
  height: 100%;
}

.vector {
  position: absolute;
  height: 60px;
}

.pos-1 {
  top: 10%;
  right: 12%;
  transform: rotate(-35deg);
}

.pos-2 {
  top: 50%;
  left: 10%;
  transform: rotate(-60deg);
}

.pos-3 {
  left: 20%;
  top: 0;
  transform: rotate(-10deg);
}

.pos-4 {
  bottom: 4%;
  left: 14%;
  transform: rotate(-60deg);
}

.pos-5 {
  bottom: 10%;
  right: 12%;
  transform: rotate(20deg);
}

.pos-6 {
  top: 15%;
  left: 5%;
  transform: rotate(-60deg);
}

.pos-7 {
  left: 22%;
  top: 50%;
  transform: rotate(-10deg);
}

.pos-8 {
  top: 43%;
  right: 4%;
  transform: rotate(-35deg);
}

.pos-9 {
  left: 20%;
  top: 0;
  transform: rotate(-10deg);
}

.slick-next {
  right: -40px;
}

.slick-prev {
  left: -40px;
}

.slick-prev:before, .slick-next:before {
  color: $primary;
  font-family: 'FontAwesome';
}

.slick-prev:before {
  content: "\f053";
}

.slick-next:before {
  content: "\f054";
}

@import 'blog';
@import 'product';

.contact-section {
  position: relative;
}