%footer
  .container
    .row.row-50
      .col-sm-6.col-lg-4
        %p.footer-title Sobre Pati Ginzo
        .divider-lg
        %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, praesentium, nulla explicabo sed voluptates, tempora aliquid esse quas totam magni dolore molestias iusto architecto fuga sit quibusdam dolores eaque obcaecati!
        %a.web{href:'https://patiginzo.com'} Ir a la web de Pati
      .col-sm-6.col-lg-4
        %p.footer-title Sitemap
        .divider-lg
        .footer-sitemap
          %ul.footer-contact-info
            %li
              %a{href: "tienda.html"} Tienda
            %li
              %a{href: "blog.htl"} Blog
            %li
              %a{href: "#"} Unboxing
            %li
              %a{href: "contact.html"} Contacto
            %li
              %a{href: "#"} Términos y Condiciones
      .col-sm-6.col-lg-4
        %p.footer-title Información de Contacto
        .divider-lg
        %ul.footer-contact-info
          %li
            %span.fa.fa-map-marker
            %a{href: "#"} Washington, USA 6036 Richmond hwy., Alexandria, VA, 2230
          %li
            %span.fa.fa-phone
            %a{href: "tel:#"} +1 (409) 987–5874
          %li
            %span.fa.fa-envelope
            %a{href: "mailto:#"} info@demolink.org
%section.text-center.p-4
  .container
    .row.row-30.align-items-lg-center
      .col-lg-3.text-lg-left
        %a{href: "index.html"}
          %img{alt: "", width: "150", src: "assets/img/logo.jpg", width: "133"}/
      .col-lg-6.text-lg-center
        %p.rights
          %span © 
          %span.copyright-year 2019
          %span  
          %span All Rights Reserved
      .col-lg-3.text-lg-right
        .social-block-footer
          %ul.list-inline
            %li
              %a.fa.fa-facebook{href: "#"}
            %li
              %a.fa.fa-instagram{href: "#"}
            %li
              %a.fa.fa-youtube{href: "#"}