%footer
  .container
    .row.row-50
      .col-sm-6.col-lg-4
        %p.footer-title About Us
        .divider-lg
        %p Blameless Nail Salon has been offering an extensive range of nail services and skin treatments since 1999.
      .col-sm-6.col-lg-4
        %p.footer-title Sitemap
        .divider-lg
        .footer-sitemap
          %ul.footer-contact-info
            %li
              %a{href: "#"} Tienda
            %li
              %a{href: "#"} Blog
            %li
              %a{href: "#"} Unboxing
            %li
              %a{href: "#"} Contacto
      .col-sm-6.col-lg-4
        %p.footer-title Contact Information
        .divider-lg
        %ul.footer-contact-info
          %li
            %span.fa.fa-map-marker
            %a{href: "#"} Washington, USA 6036 Richmond hwy., Alexandria, VA, 2230
          %li
            %span.fa.fa-phone
            %a{href: "tel:#"} +1 (409) 987–5874
          %li
            %span.fa.fa-envelope
            %a{href: "mailto:#"} info@demolink.org
%section.text-center.p-4
  .container
    .row.row-30.align-items-lg-center
      .col-lg-3.text-lg-left
        %a{href: "index.html"}
          %img{alt: "", width: "150", src: "assets/img/logo.jpg", width: "133"}/
      .col-lg-6.text-lg-center
        %p.rights
          %span © 
          %span.copyright-year 2019
          %span  
          %span All Rights Reserved
      .col-lg-3.text-lg-right
        .social-block-footer
          %ul.list-inline
            %li
              %a.fa.fa-facebook{href: "#"}
            %li
              %a.fa.fa-instagram{href: "#"}
            %li
              %a.fa.fa-youtube{href: "#"}