%header.header-area.main-header
  .row
    .col-lg-2
      .logo-area
        %a{href: "/"}
          %img{alt: "logo", src: "assets/img/logo.jpg"}/
    .col-lg-10.menu-flex
      .main-menu
        %ul
          %li.active
            %a{href: "/"} Inicio
          %li
            %a{href: "#"} Tienda
          %li
            %a{href: "blog.html"} Blog
          %li
            %a{href: "#"} Unboxing
          %li
            %a{href: "#"} Contacto
          %li
            %a{href: "#"}
              %i.fa.fa-user-o
          %li
            %a{href: "#"}
              %i.fa.fa-shopping-cart