= Haml::Engine.new(File.read("app/partials/_head.haml")).render()
%body
  = Haml::Engine.new(File.read("app/partials/_navbar.haml")).render()
  .banner-blog
    %img{src:'https://images.unsplash.com/photo-1556912167-f556f1f39fdf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1060&q=80'}
  %section.blog-single
    .container
      .row
        .col-12.d-md-none
          %form.search-form{action: "#"}
            .form-group
              %a.icon.fa.fa-search{ href: '#' }
              %input.form-control{placeholder: "Buscar", type: "text"}
        .col-md-8.order-md-last
          %h2.mb-3 It is a long established fact a reader be distracted
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius mollitia suscipit, quisquam doloremque distinctio perferendis et doloribus unde architecto optio laboriosam porro adipisci sapiente officiis nemo accusamus ad praesentium? Esse minima nisi et. Dolore perferendis, enim praesentium omnis, iste doloremque quia officia optio deserunt molestiae voluptates soluta architecto tempora.
          %p
            %img.img-fluid{alt: "", src: "https://images.unsplash.com/photo-1556741533-6e6a62bd8b49?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"}/
          %p Molestiae cupiditate inventore animi, maxime sapiente optio, illo est nemo veritatis repellat sunt doloribus nesciunt! Minima laborum magni reiciendis qui voluptate quisquam voluptatem soluta illo eum ullam incidunt rem assumenda eveniet eaque sequi deleniti tenetur dolore amet fugit perspiciatis ipsa, odit. Nesciunt dolor minima esse vero ut ea, repudiandae suscipit!
          %h2.mb-3.mt-5 #2. Creative WordPress Themes
          %p Temporibus ad error suscipit exercitationem hic molestiae totam obcaecati rerum, eius aut, in. Exercitationem atque quidem tempora maiores ex architecto voluptatum aut officia doloremque. Error dolore voluptas, omnis molestias odio dignissimos culpa ex earum nisi consequatur quos odit quasi repellat qui officiis reiciendis incidunt hic non? Debitis commodi aut, adipisci.
          %p
            %img.img-fluid{alt: "", src: "https://images.unsplash.com/photo-1565612206220-36cf35f32ff1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80"}/
          %p Quisquam esse aliquam fuga distinctio, quidem delectus veritatis reiciendis. Nihil explicabo quod, est eos ipsum. Unde aut non tenetur tempore, nisi culpa voluptate maiores officiis quis vel ab consectetur suscipit veritatis nulla quos quia aspernatur perferendis, libero sint. Error, velit, porro. Deserunt minus, quibusdam iste enim veniam, modi rem maiores.
          %p Odit voluptatibus, eveniet vel nihil cum ullam dolores laborum, quo velit commodi rerum eum quidem pariatur! Quia fuga iste tenetur, ipsa vel nisi in dolorum consequatur, veritatis porro explicabo soluta commodi libero voluptatem similique id quidem? Blanditiis voluptates aperiam non magni. Reprehenderit nobis odit inventore, quia laboriosam harum excepturi ea.
          %p Adipisci vero culpa, eius nobis soluta. Dolore, maxime ullam ipsam quidem, dolor distinctio similique asperiores voluptas enim, exercitationem ratione aut adipisci modi quod quibusdam iusto, voluptates beatae iure nemo itaque laborum. Consequuntur et pariatur totam fuga eligendi vero dolorum provident. Voluptatibus, veritatis. Beatae numquam nam ab voluptatibus culpa, tenetur recusandae!
          %p Voluptas dolores dignissimos dolorum temporibus, autem aliquam ducimus at officia adipisci quasi nemo a perspiciatis provident magni laboriosam repudiandae iure iusto commodi debitis est blanditiis alias laborum sint dolore. Dolores, iure, reprehenderit. Error provident, pariatur cupiditate soluta doloremque aut ratione. Harum voluptates mollitia illo minus praesentium, rerum ipsa debitis, inventore?
          .tag-widget.post-tag-container.mb-5.mt-5
            .tagcloud
              %a.tag-cloud-link{href: "#"} Life
              %a.tag-cloud-link{href: "#"} Sport
              %a.tag-cloud-link{href: "#"} Tech
              %a.tag-cloud-link{href: "#"} Travel
        .col-md-4.sidebar
          .sidebar-box
            %form.search-form.d-none.d-md-block{action: "#"}
              .form-group
                %a.icon.fa.fa-search{ href: '#' }
                %input.form-control{placeholder: "Buscar", type: "text"}
          .sidebar-box
            .categories
              %h3.sidebar-subtitles Categorías
              %li
                %a{href: "#"}
                  Jobs
                  %span (12)
              %li
                %a{href: "#"}
                  Visual Assistant
                  %span (22)
              %li
                %a{href: "#"}
                  Coffee
                  %span (37)
              %li
                %a{href: "#"}
                  Drinks
                  %span (42)
              %li
                %a{href: "#"}
                  Foods
                  %span (14)
              %li
                %a{href: "#"}
                  Travel
                  %span (140)
          .sidebar-box
            %h3.sidebar-subtitles Posts recientes
            - 3.times do
              .block-21.mb-4.d-flex
                .text
                  %h3.heading
                    %a{href: "#"} Even the all-powerful Pointing has no control about the blind texts
                  .meta
                    %div
                      %a{href: "#"}
                        %span.fa.fa-calendar
                        July 12, 2018
          .sidebar-box
            %h3.sidebar-subtitles Tags
            .tagcloud
              %a.tag-cloud-link{href: "#"} dish
              %a.tag-cloud-link{href: "#"} menu
              %a.tag-cloud-link{href: "#"} food
              %a.tag-cloud-link{href: "#"} sweet
              %a.tag-cloud-link{href: "#"} tasty
              %a.tag-cloud-link{href: "#"} delicious
              %a.tag-cloud-link{href: "#"} desserts
              %a.tag-cloud-link{href: "#"} drinks
  = Haml::Engine.new(File.read("app/partials/_footer.haml")).render()
  = Haml::Engine.new(File.read("app/partials/_scripts.haml")).render()