= Haml::Engine.new(File.read("app/partials/_head.haml")).render()
%body
  = Haml::Engine.new(File.read("app/partials/_navbar.haml")).render()
  .container.mt-5
    .title-lines-main.text-center
      %h3
        %span.text Blog
    .row.d-flex
      - 8.times do
        .col-md-4.d-flex
          .blog-entry.justify-content-end
            %a.block-20{href: "../blog-single.html", style: "background-image: url('https://images.unsplash.com/photo-1562887189-e5d078343de4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80');"}
            .text.p-4.float-right.d-block
              .d-flex.align-items-center.pt-2.mb-4
                .one
                  %span.day 07
                .two
                  %span.mos Agosto
                  %span.yr 2019
              %h3.heading.mt-2
                %a{href: "../blog-single.html"} Why Lead Generation is Key for Business Growth
              %p A small river named Duden flows by their place and supplies it with the necessary regelialia.
  -# .container
    .row.mt-5.mb-5
      .col.text-center
        .paginator
          %ul
            %li
              %a.fa.fa-chevron-left{href: "#"}
            %li.active
              %span 1
            %li
              %a{href: "#"} 2
            %li
              %a{href: "#"} 3
            %li
              %a{href: "#"} 4
            %li
              %a{href: "#"} 5
            %li
              %a.fa.fa-chevron-right{href: "#"}
  = Haml::Engine.new(File.read("app/partials/_footer.haml")).render()
  = Haml::Engine.new(File.read("app/partials/_scripts.haml")).render()