= Haml::Engine.new(File.read("app/partials/_head.haml")).render()
%body
  .wrapper
    = Haml::Engine.new(File.read("app/partials/_navbar.haml")).render()
    .banner-home
      %img{ src: 'assets/img/IMG_0571.jpg', alt: '' }
    %section.about
      .about-text.about-square
        %h1 ¿Qué es?
        %img{ src: 'assets/img/logo.jpg', alt: 'La Caja de Pati' }
        %p La idea de poder compartir siempre ha sido gran parte de lo que ha llevado haciendo Pati en su vida, está en su esencia, en lo que la gente puede entender en sus redes sociales.
      .about-img
        %img{ src: 'assets/img/cajas.png', alt: 'La Caja de Pati' }
    %section.blog

= Haml::Engine.new(File.read("app/partials/_footer.haml")).render()
= Haml::Engine.new(File.read("app/partials/_scripts.haml")).render()
