@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Prata&display=swap");

@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");
/* 4. Header */
.header-area.main-header {
  padding: 15px 0;
  background: #fff;
  border-radius: 5px;
  margin: 0 5%;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.logo-area img {
  width: 100px;
}

.menu-flex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* 3. Main Menu */
.main-menu ul {
  float: right;
  margin-bottom: 0;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-menu ul {
    display: none;
    float: left;
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 4;
    background: #202020;
    width: 40%;
    padding: 20px 20px 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-menu ul {
    display: none;
    float: left;
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 4;
    background: #202020;
    width: 100%;
    padding: 20px 20px 30px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .main-menu ul {
    display: none;
    float: left;
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 4;
    background: #202020;
    width: 100%;
    padding: 20px 20px 30px;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-menu ul {
    display: none;
    float: left;
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 4;
    background: #202020;
    width: 100%;
    padding: 20px 20px 30px;
  }
}

.main-menu ul li {
  display: inline;
  position: relative;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-menu ul li {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-menu ul li {
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .main-menu ul li {
    display: block;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-menu ul li {
    display: block;
  }
}

.main-menu ul li a {
  color: #cd416c;
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  padding: 15px;
}

.main-menu .menu-btn {
  display: inline;
  margin-left: 60px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-menu .menu-btn {
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-menu .menu-btn {
    margin-left: 0;
  }

  .main-menu .menu-btn .login {
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .main-menu .menu-btn {
    margin-left: 0;
  }

  .main-menu .menu-btn .login {
    display: block;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-menu .menu-btn {
    margin-left: 0;
  }

  .main-menu .menu-btn .login {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-menu.main-menu-light ul {
    background: #080b1c;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .main-menu.main-menu-light ul {
    background: #080b1c;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-menu.main-menu-light ul {
    background: #080b1c;
  }
}

.main-menu.main-menu-light a {
  color: #fff;
}

.custom-navbar {
  position: absolute;
  top: -42px;
  right: 15px;
  background: #cd416c;
  padding: 7px 10px;
  border-radius: 3px;
  transition: all ease-in-out .2s;
  cursor: pointer;
  display: none;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .custom-navbar {
    top: 0;
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .custom-navbar {
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .custom-navbar {
    display: block;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  .custom-navbar {
    display: block;
  }
}

.custom-navbar span {
  background: #fff;
  display: block;
  width: 30px;
  margin: 6px 0;
  height: 2px;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-family: "Merriweather", serif;
}

p, li, span {
  font-family: "Work Sans", sans-serif;
}

li {
  list-style: none;
}

.wrapper {
  padding: 0 10%;
}

.about, .blog, .faq, .products {
  padding: 50px 0;
  position: relative;
}

.banner-home {
  height: 90vh;
  width: 100%;
  position: relative;
  margin-top: -50px;
  border-radius: 5px;
}

.banner-home .banner-mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(223, 116, 156, 0.4);
  border-radius: 5px;
}

.banner-home img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner-home h2 {
  position: absolute;
  font-family: "Merriweather", serif;
  color: #cd416c;
  font-size: 40px;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

.about p {
  font-size: 22px;
  position: absolute;
  bottom: 40px;
}

.about .about-text, .about .about-img {
  width: 50%;
}

.about .about-text {
  position: relative;
  height: 350px;
  background-color: white;
}

.about .about-text h1 {
  position: relative;
  top: 50px;
}

.about .about-text img {
  position: absolute;
  left: 200px;
  top: 0;
  height: 150px;
}

.about .about-img img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.faq .card {
  border: 0;
}

.faq .card-header {
  background-color: #fff;
  margin-bottom: 0 !important;
}

.faq .faq-btn {
  color: #cd416c;
  font-family: "Merriweather", serif;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq .faq-btn:hover, .faq .faq-btn:focus {
  text-decoration: none;
}

.faq .faq-btn[aria-expanded="true"] i {
  transform: rotate(-90deg);
}

.faq-img img {
  width: 100%;
}

.blog-entry {
  overflow: hidden;
  font-family: "Work Sans", sans-serif;
}

.blog-entry .text {
  position: relative;
  background: #fff;
  width: 100%;
  margin: 0 auto;
}

.blog-entry .text .heading {
  font-size: 18px;
  margin-bottom: 16px;
  font-weight: 400;
}

.blog-entry .text .heading a {
  color: #000000;
}

.blog-entry .text .heading a:hover, .blog-entry .text .heading a:focus, .blog-entry .text .heading a:active {
  color: #bf9465;
}

.blog-entry .meta > div {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 0;
  font-size: 14px;
}

.blog-entry .meta > div a {
  color: gray;
  font-size: 15px;
}

.blog-entry .meta > div a:hover {
  color: #666666;
}

.blog-entry .one {
  width: 80px;
}

.blog-entry .two {
  width: calc(100% - 80px);
}

.blog-entry span.day {
  font-size: 58px;
  font-weight: 300;
  color: #bf9465;
  line-height: 1;
}

.blog-entry span.yr, .blog-entry span.mos {
  display: block;
  color: #b3b3b3;
}

@media (min-width: 768px) {
  .blog-entry {
    margin-bottom: 30px;
  }
}

@media (max-width: 767.98px) {
  .blog-entry {
    margin-bottom: 30px;
  }
}

.block-20 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: block;
  width: 100%;
  height: 270px;
}

.blog h1 {
  color: #bf9465;
  font-size: 80px;
  font-weight: 700;
}

.faq h1 {
  color: #bf9465;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
}

.footer-title {
  font-family: "Merriweather", serif;
  color: #151515;
  font-weight: 700;
  font-size: 21px;
}

.divider-lg {
  margin-top: 15px;
}

.divider-lg::after {
  content: '';
  display: inline-block;
  width: 90px;
  height: 3px;
  background-color: #df749c;
}

.divider-lg + * {
  margin-top: 20px;
}

footer {
  background-color: #fafafa;
  padding: 30px 0;
}

footer .footer-contact-info {
  padding-left: 0;
}

footer .footer-contact-info li span {
  color: #cd416c;
}

footer ul > li > a {
  color: #5a5656;
}

footer ul > li > a:hover {
  color: #cd416c;
}

.social-block-footer ul {
  display: inline-flex;
}

.social-block-footer ul li {
  margin: 0 10px;
}

.social-block-footer ul li a {
  color: #cd416c;
}
