@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&display=swap");

@import url("https://fonts.googleapis.com/css?family=Prata&display=swap");

@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");
/* 4. Header */
.header-area.main-header {
  padding: 15px 30px;
  background: #fff;
  border-radius: 5px;
  margin: 0 5%;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.logo-area img {
  width: 100px;
}

.menu-flex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* 3. Main Menu */
.main-menu ul {
  float: right;
  margin-bottom: 0;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-menu ul {
    display: none;
    float: left;
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 4;
    background: #202020;
    width: 40%;
    padding: 20px 20px 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-menu ul {
    display: none;
    float: left;
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 4;
    background: #202020;
    width: 100%;
    padding: 20px 20px 30px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .main-menu ul {
    display: none;
    float: left;
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 4;
    background: #202020;
    width: 100%;
    padding: 20px 20px 30px;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-menu ul {
    display: none;
    float: left;
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 4;
    background: #202020;
    width: 100%;
    padding: 20px 20px 30px;
  }
}

.main-menu ul li {
  display: inline;
  position: relative;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-menu ul li {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-menu ul li {
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .main-menu ul li {
    display: block;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-menu ul li {
    display: block;
  }
}

.main-menu ul li a {
  color: #cd416c;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  padding: 15px;
}

.main-menu .menu-btn {
  display: inline;
  margin-left: 60px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-menu .menu-btn {
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-menu .menu-btn {
    margin-left: 0;
  }

  .main-menu .menu-btn .login {
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .main-menu .menu-btn {
    margin-left: 0;
  }

  .main-menu .menu-btn .login {
    display: block;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-menu .menu-btn {
    margin-left: 0;
  }

  .main-menu .menu-btn .login {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-menu.main-menu-light ul {
    background: #080b1c;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .main-menu.main-menu-light ul {
    background: #080b1c;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  .main-menu.main-menu-light ul {
    background: #080b1c;
  }
}

.main-menu.main-menu-light a {
  color: #fff;
}

.custom-navbar {
  position: absolute;
  top: -42px;
  right: 15px;
  background: #cd416c;
  padding: 7px 10px;
  border-radius: 5px;
  transition: all ease-in-out .2s;
  cursor: pointer;
  display: none;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .custom-navbar {
    top: 0;
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .custom-navbar {
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .custom-navbar {
    display: block;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  .custom-navbar {
    display: block;
  }
}

.custom-navbar span {
  background: #fff;
  display: block;
  width: 30px;
  margin: 6px 0;
  height: 2px;
}

a:hover {
  text-decoration: none;
}

h1, h2 {
  font-family: "Montserrat", serif;
}

p, li, span {
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
}

.template-btn {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  background-color: #cd416c;
  transition: all ease-in-out .4s;
}

.template-btn:hover {
  color: #fff;
  background-color: #c2335f;
  transform: translateY(-3px);
  transition: all ease-in-out .4s;
}

.wrapper {
  padding: 0 10%;
}

.about, .blog, .faq, .products, .brands, .unboxing {
  padding: 50px 0;
  position: relative;
}

.banner-home {
  height: 100vh;
  width: 100%;
  position: relative;
  margin-top: -100px;
  border-radius: 5px;
  overflow: hidden;
}

.banner-home::after {
  content: "";
  position: absolute;
  transform: skew(-85deg);
  background-color: white;
  bottom: -175px;
  left: 0;
  width: 100%;
  height: 350px;
}

.banner-home .banner-mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(223, 116, 156, 0.4);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 80px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .banner-home .banner-mask {
    justify-content: center;
    padding-left: 0;
  }
}

.banner-home .banner-mask h1 {
  font-family: "Montserrat", serif;
  width: 50%;
  font-weight: 800;
  color: #fff;
  text-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
}

@media (min-width: 0px) and (max-width: 575px) {
  .banner-home .banner-mask h1 {
    font-size: 30px;
    text-align: center;
    width: 100%;
  }
}

.banner-home img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner-home h2 {
  position: absolute;
  font-family: "Montserrat", serif;
  color: #cd416c;
  font-size: 40px;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

.about p {
  font-size: 22px;
  position: absolute;
  bottom: 40px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .about p {
    position: relative;
    bottom: unset;
    margin-top: 80px;
    font-size: 18px;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  .about .about-text-parent {
    flex-direction: column;
  }
}

.about .about-text, .about .about-img {
  width: 50%;
}

@media (min-width: 0px) and (max-width: 575px) {
  .about .about-text, .about .about-img {
    width: 100%;
  }
}

.about .about-text {
  position: relative;
  height: 350px;
  background-color: white;
  text-align: left;
  max-width: 530px;
  padding: 104px 36px 40px 47px;
  margin: 0 auto;
  border-right: 13px solid rgba(0, 0, 0, 0.1);
  border-bottom: 13px solid rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  border-radius: 5px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .about .about-text {
    padding: 30px;
    max-width: unset;
  }
}

.about .about-text::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 13px;
  width: -webkit-calc(100% - 280px);
  width: calc(100% - 280px);
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;
}

.about .about-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 13px;
  height: -webkit-calc(100% - 100px);
  height: calc(100% - 100px);
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;
}

.about .about-text h1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 50px;
  font-weight: 700;
}

.about .about-text img {
  position: absolute;
  left: 200px;
  top: 0;
  height: 150px;
}

.about .about-img img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 0px) and (max-width: 575px) {
  .about .about-img img {
    object-fit: scale-down;
  }
}

.faq .card {
  border: 0;
}

.faq .card-header {
  background-color: #fff;
  margin-bottom: 0 !important;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
}

.faq .faq-btn {
  color: #cd416c;
  font-family: "Montserrat", serif;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq .faq-btn:hover, .faq .faq-btn:focus {
  text-decoration: none;
}

.faq .faq-btn[aria-expanded="true"] i {
  transform: rotate(-90deg);
}

.faq-img img {
  width: 100%;
}

.blog-entry {
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.blog-entry .text {
  position: relative;
  background: #fff;
  width: 100%;
  margin: 0 auto;
}

.blog-entry .text .heading {
  font-size: 18px;
  margin-bottom: 16px;
  font-weight: 400;
}

.blog-entry .text .heading a {
  color: #000000;
}

.blog-entry .text .heading a:hover, .blog-entry .text .heading a:focus, .blog-entry .text .heading a:active {
  color: #cd416c;
}

.blog-entry .text::before {
  content: "";
  position: absolute;
  background: #fff;
  top: -99px;
  height: 200px;
  width: 100%;
  clip-path: polygon(50% 20%, 0 50%, 100% 50%);
  left: 0;
}

.blog-entry .meta > div {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 0;
  font-size: 14px;
}

.blog-entry .meta > div a {
  color: gray;
  font-size: 15px;
}

.blog-entry .meta > div a:hover {
  color: #666666;
}

.blog-entry .one {
  width: 80px;
}

.blog-entry .two {
  width: calc(100% - 80px);
}

.blog-entry span.day {
  font-size: 58px;
  font-weight: 300;
  color: #cd416c;
  line-height: 1;
}

.blog-entry span.yr, .blog-entry span.mos {
  display: block;
  color: #b3b3b3;
}

@media (min-width: 768px) {
  .blog-entry {
    margin-bottom: 30px;
  }
}

@media (max-width: 767.98px) {
  .blog-entry {
    margin-bottom: 30px;
  }
}

.block-20 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: block;
  width: 100%;
  height: 270px;
}

.paginator ul li {
  display: inline-block;
  margin-bottom: 4px;
}

.paginator ul li.active span {
  background: #cd416c;
  color: #fff;
  border: 1px solid transparent;
}

.paginator ul li a, .paginator ul li span {
  color: #cd416c;
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

.tag-cloud-link {
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: 7px;
  margin-right: 4px;
  border-radius: 5px;
  color: #1a1a1a;
  border: 1px solid #ccc;
  font-size: 11px;
}

.tag-cloud-link:hover {
  color: #cd416c;
}

.sidebar-box {
  margin-bottom: 30px;
  padding: 25px;
  font-size: 15px;
  width: 100%;
  float: left;
  background: #fff;
}

.sidebar-box .heading {
  font-size: 15px;
  font-weight: 300;
  font-family: "Montserrat", serif;
}

.sidebar-box .heading a {
  color: #cd416c;
}

.sidebar-box .block-21 .text .meta > div a {
  color: gray;
  font-family: "Montserrat", sans-serif;
}

.sidebar-box .block-21 .blog-img {
  display: block;
  height: 80px;
  width: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.sidebar-box .search-form .icon {
  color: #cd416c;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sidebar-box .sidebar-subtitles {
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat", serif;
  margin-bottom: 10px;
}

.categories li {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dee2e6;
  list-style: none;
}

.categories li a {
  color: #1a1a1a;
}

.categories li a span {
  position: absolute;
  right: 0;
  top: 0;
  color: #ccc;
}

.form-group {
  position: relative;
  font-family: "Montserrat", serif;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #cd416c;
}

.banner-blog {
  height: 370px;
  width: 100%;
  padding: 20px 5% 50px 5%;
}

.banner-blog img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.faq h1 {
  color: rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
}

.footer-title {
  font-family: "Montserrat", serif;
  color: #151515;
  font-weight: 700;
  font-size: 21px;
}

.divider-lg {
  margin-top: 15px;
}

.divider-lg::after {
  content: '';
  display: inline-block;
  width: 90px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.1);
}

.divider-lg + * {
  margin-top: 20px;
}

footer {
  padding: 50px 0;
  border-top: 3px solid #e6e6e6;
}

@media (min-width: 0px) and (max-width: 575px) {
  footer {
    text-align: center;
  }
}

footer .footer-contact-info {
  padding-left: 0;
}

footer .footer-contact-info li span {
  color: #cd416c;
}

footer ul > li > a {
  color: #5a5656;
}

footer ul > li > a:hover {
  color: #cd416c;
}

.rights {
  margin-bottom: 0;
}

.social-block-footer ul {
  display: inline-flex;
  margin-bottom: 0;
}

.social-block-footer ul li {
  margin: 0 10px;
}

.social-block-footer ul li a {
  color: #cd416c;
}

.product-banner {
  height: 550px;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 5px;
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.12);
}

.product-banner .product-banner-figure {
  transform: none;
  left: auto;
  right: -webkit-calc(50% - 50px);
  right: calc(50% - 50px);
  -webkit-clip-path: polygon(-webkit-calc(100% - 120px) 0, 100% 50%, -webkit-calc(100% - 120px) 100%, 0 100%, 0 0);
  clip-path: polygon(calc(100% - 120px) 0, 100% 50%, calc(100% - 120px) 100%, 0 100%, 0 0);
  width: 50%;
  position: absolute;
  background-color: #fff;
  height: calc(100% + 1px);
  display: flex;
  padding-left: 50px;
  align-items: center;
  transition: all ease-in-out .3s;
}

.product-banner:hover .product-banner-figure {
  clip-path: polygon(calc(95% - 120px) 0, 100% 50%, calc(95% - 120px) 100%, 0 100%, 0 0);
  transition: all ease-in-out .3s;
}

.product-banner .product-banner-content {
  width: 60%;
}

.product-banner .product-banner-content h2 {
  font-weight: 700;
  position: relative;
}

.product-banner .product-banner-content h2, .product-banner .product-banner-content p {
  margin-bottom: 30px;
}

.product-banner .product-banner-content p {
  color: #838383;
}

span.after {
  background: rgba(0, 0, 0, 0.1);
  top: calc(100% - (-2px));
  height: 5px;
  content: '';
  position: absolute;
  left: 0;
  width: 50%;
}

.title-lines-main {
  margin-bottom: 100px;
}

.title-lines-main h3 {
  padding: 0;
  width: 60%;
  margin: 0 auto;
}

@media (min-width: 0px) and (max-width: 575px) {
  .title-lines-main h3 {
    width: 100%;
  }
}

.title-lines-main h3 .text {
  text-transform: uppercase;
  font-family: "Montserrat", serif;
  font-weight: 700;
  color: #cd416c;
  font-size: 40px;
  position: relative;
}

.title-lines-main h3 .text::before {
  content: '';
  position: absolute;
  background-color: #bf9465;
  width: 30%;
  height: 4px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.brands {
  padding-bottom: 100px;
}

.brand-img {
  height: 90px;
  object-fit: scale-down;
}

.maxw-770 {
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
}

.video-wrap {
  position: relative;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.4);
  min-height: 430px;
  margin-bottom: 20px;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.cta-wrapper {
  height: 200px;
  width: 100%;
  background: linear-gradient(to right, #cd416c, #df749c);
  opacity: 0.94;
  z-index: -1;
  margin-top: -110px;
}

.cta-wrapper .cta-wrapper-content {
  padding-top: 110px;
}

.cta-wrapper .cta-wrapper-content h1 {
  text-align: center;
  color: #fff;
  font-weight: 700;
}

.icon-video {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  height: 80px;
  width: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-video i {
  color: #ce446c;
  font-size: 40px;
  transform: translateX(5px);
}

.team-svg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.team-svg .svgs {
  position: relative;
  width: 100%;
  height: 100%;
}

.vector {
  position: absolute;
  height: 60px;
}

.pos-1 {
  top: 10%;
  right: 12%;
  transform: rotate(-35deg);
}

.pos-2 {
  top: 50%;
  left: 10%;
  transform: rotate(-60deg);
}

.pos-3 {
  left: 20%;
  top: 0;
  transform: rotate(-10deg);
}

.pos-4 {
  bottom: 4%;
  left: 14%;
  transform: rotate(-60deg);
}

.pos-5 {
  bottom: 10%;
  right: 12%;
  transform: rotate(20deg);
}

.pos-6 {
  top: 15%;
  left: 5%;
  transform: rotate(-60deg);
}

.pos-7 {
  left: 22%;
  top: 50%;
  transform: rotate(-10deg);
}

.pos-8 {
  top: 43%;
  right: 4%;
  transform: rotate(-35deg);
}

.pos-9 {
  left: 20%;
  top: 0;
  transform: rotate(-10deg);
}

.slick-prev:before, .slick-next:before {
  color: #cd416c;
  font-family: 'FontAwesome';
}

.slick-prev:before {
  content: "\f053";
}

.slick-next:before {
  content: "\f054";
}
